.label{
    -fx-text-fill: linear-gradient(limegreen,greenyellow);
    -fx-font-weight: bold;
    -fx-font-style: normal;
    -fx-font-size: 30px;

}

.button{
    -fx-background-color:
            linear-gradient(#32cd32,#008000),
            radial-gradient(center 50% -40%,radius 200%, #9df517 45%, #14e714 50%);

    -fx-text-fill:white;
    -fx-effect: dropshadow(three-pass-box,rgba(0,0,0,0.4), 5, 0.0, 0, 1);
    -fx-font-style: italic;
    -fx-font-weight: bold;

}

.button:hover{
    -fx-background-color:lightgreen,
    radial-gradient(center 50% -40%,radius 200%, #9df517 45%, #14e714 50%);
    -fx-text-fill:white;
}
.button:pressed{

    -fx-background-insets: 2 0 0 0,2 0 3 0,2 0 4 0,2 0 5 0;
}

#button{
    -fx-background-color:
            linear-gradient(#32cd32,#008000),
            radial-gradient(center 50% -40%,radius 200%, #9df517 45%, #14e714 50%);

    -fx-text-fill:white;
    -fx-effect: dropshadow(three-pass-box,rgba(0,0,0,0.4), 5, 0.0, 0, 1);
    -fx-font-style:italic;
    -fx-font-weight: bold;
    -fx-font-size: 30px;
}
.text-field {
    -fx-border-color: limegreen;
    -fx-border-width: 0 0 1 0;
    -fx-background-color: transparent;
    -fx-text-fill: linear-gradient(limegreen,greenyellow);
    -fx-font-style: italic;
    -fx-font-weight: 400;
    -fx-font-size: 20px;
    -fx-prompt-text-fill: linear-gradient(limegreen,greenyellow);
}
